body {background-color: #fae5d3; }
h1 { color: #7b241c; text-decoration: underline; font-style: italic; font-size: 46px; }
h2 {text-decoration: underline; font-style: oblique; font-size: 30px; }
h3 {color:  #6c3483 ; text-decoration: underline; }
p {color:  #1b2631  ; text-align: justify; }
ul {text-align: left;;}
ol {text-align: justify;}
img {width: 500px; height: 500px; }

body {background-image: url(../fondos/ratatouille1.png);
       background-repeat: no-repeat;
       background-position: 50% 50%;
      background-attachment: fixed;}
#facebook {width: 50px; height: 50px;}
#instagram {width: 50px; height: 50px;}
#youtube {width: 50px; height: 50px;}
#whatsapp {position: fixed; top: 75%; right: 10%; width: 100px; height: 100px;}
.navegador {color: #186a3b ; text-decoration: overline; font-style: italic; font-size: 25px;}
